// ! GLOBAL STYLES

*{
    box-sizing: border-box;
}

body{
    margin: unset;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a{
    color: inherit;
    text-decoration: unset;

    &:hover{
        text-decoration: underline;
    }   
}


.container{
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
}